*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

marquee {
    color: #f3550c;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: -10px;
    
}

.Navbar {
    min-height: 60px;
    background-color: #282c34;
}
.Navbar-header {
    display: flex;
    justify-content: center;
}

.menu ul li{
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    border-radius: 5px;
    padding: 6px 20px;
    transition: background-color 0.4s ease;
}

.menu li a:hover {
    background-color: #c07015;
}

.login{
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.serch input {
    margin-top: -35px;
    margin-bottom: 20px;
    float: center;
    box-sizing: border-box;
    background: transparent;
    text-align: left;
    padding: 6px;
    border: 2px solid #0ce4f3;
    border-radius: 5px;
    margin-left: 600px;
    width: 300px;
    color: #ffffff;
    font-size: 16px;
}

.src-btn input {
    background-color: transparent;
    color: #ffffff;
    margin-top: -53px;
    margin-left: 910px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 6px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.src-btn input:hover {
    background-color: #c07015;
}

button {
    background-color: transparent;
    color: #ffffff;
    margin-top: -54px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding: 6px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #c07015;
}