.head{
    color: red;
    font-size: 18px;
    text-align: center;
    padding: 0;
    font-weight: bolder
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    font-family: Jura;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.5s ease;
}
.logo:hover {
    color: #00e1ff;
    text-shadow: 0px 0px 1px #f37933;
}

.menu ul{
    margin-top: -20px;
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    transition: color 0.5s ease;
}

.menu ul li a:hover{
    text-decoration-line: underline;
    color:  #ff5c00;
    text-shadow: 0px 0px 1px #ff5c00;
}



.login {
    margin-right: 20px;
    margin-top: -60px;
    align-items: center;
    float: right;
    color: white;
    padding: 10px;
}

.login :hover {
    background-color: #f37933;
}

.login a {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    border-radius: 5px;
}


.login a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 1px #f37933;
}

.Signup {
    margin-right: 10px;
    margin-top: -60px;
    align-items: center;
    float: right;
    color: white;
    padding: 10px;
}
.Signup :hover {
    background-color: #f37933;
}

.Signup a {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    border-radius: 5px;
}

.Signup a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 1px #f37933;
}
