
img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

h1 {
    position: absolute;
    top: 18%;
    left: 5%;
    color: rgb(0, 0, 0);
}

.content {
    position: absolute;
    top: 50%;
    left: 5%;
    color: rgb(0, 0, 0);
    text-align: justify;
    hyphens: auto;
}

.content .mar {
    font-size: 20px;
    line-height: 1.5;
}